body {
    background-color: #f2f2f2;
    font-family: arial, sans-serif;
    text-align: center;
    padding: 40px;
}

h1 {
    color: #6c63ff;
}

.card {
    background: white;
    width: 300px;
    margin: 30px auto;
    padding: 20px;
    border-radius: 200px;
    cursor: pointer;
} 

button:hover {
    background: #554ee0;
}

.login {
    background: white;
    width: 300px;
    margin: 30px auto;
    padding: 20px;
    border-radius: 15px;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}
